/routing bgp
instance set default as={{ bgp['asn'] }}

/routing bgp peer

{% for peer in bgp['peers'] %}
add address-families={{ peer['af'] | join(',') }} name={{ peer['name'] }} \
remote-address={{ peer['address'] }} remote-as={{ peer['asn'] }} update-source=loopback
{% endfor %}

