/routing ospf instance
{% for instance in ospf['vrf']['instances']%}
add name={{ instance }} routing-table={{ instance }}
{% endfor %}

/routing ospf area
{% for area in ospf['vrf']['areas']%}
add instance={{ area['instance'] }} name={{ area['name'] }}
{% endfor %}

/routing ospf network
add area=backbone comment="ANSIBLE IS AWESOME"
add area=site-a
