/routing bgp instance vrf
{% for v in bgp['vrf'] %}
add routing-mark={{ v['name'] }} \
{% for protocol, value in v['redists'].items() %}
redistribute-{{ protocol }}={{ value }}{% if not loop.last %} \{% endif %}

{% endfor %}
{% endfor %}
