/ip route vrf

{% for v in vrf %}
add export-route-targets={{ v['exports'] | join(',') }} \
import-route-targets={{ v['imports'] | join(',') }} \
interfaces={{ v['interfaces'] | join(',') }} \
route-distinguisher={{ v['rd'] }} routing-mark={{ v['name'] }}
{% endfor %}

