/ip routing vrf

{% for v in vrf %}
add export-route-targets={{ v['export'] | join(',') }} \
import-route-targets={{ v['import'] | join(',') }} \
interfaces={{ v['interfaces'] | join(',') }} \
route-distinguisher={{ v['rd'] }} routing-mark={{ v['name'] }}
{% endfor %}

